<section class="bg-success-subtle pt-4">
  <div class="container text-center text-md-start">
    <div class="row">
      
      <div class="col-md-6 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold">ADRIAN WEBSITE</h6>
        <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: var(--bs-success); height: 2px"
            />
        <p>
          <b>Direccion:</b> C/ Ejemplo, 42.
          <br>
          <b>Telefono:</b> +34 612 345 678
          <br>
          <b>Email:</b> ejemplo@gmail.com
        </p>
        <div class="pt-3">
          © 2024 Copyright: Adrian Elhombre
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold">ENLACES</h6>
        <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: var(--bs-success); height: 2px"
            />
      
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-success">
            <a href="../index.html" class="link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Inicio</a>
          </li>
          <li class="list-group-item list-group-item-success">
            <a href="/views/galeria.html" class="link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Galeria</a>
          </li>
          <li class="list-group-item list-group-item-success">
            <a href="/views/contacto.html" class="link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Contacto</a>
          </li>
        </ul> 
        
      </div>

    </div>
  </div>

  <div class="container pb-4">
    <div class="d-flex justify-content-center gap-4">
      
        <a href="https://www.facebook.com/" class="link-underline link-underline-opacity-0" target="_blank">
          <img src="../assets/facebook.png" class="icon-sm"></img>
        </a>
        <a href="https://www.instagram.com/" class="link-underline link-underline-opacity-0" target="_blank">
          <img src="../assets/instagram.png" class="icon-sm"></img>
        </a>
        <a href="https://twitter.com/" class="link-underline link-underline-opacity-0" target="_blank">
          <img src="../assets/gorjeo.png" class="icon-sm"></img>
        </a>
      
    </div>
      
  </div>
</section>

