<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crea tu pagina</title>
  </head>

  <body>

    <header>
      <div id="headerContainer"></div>
    </header>
    
    
    <main>
      <div class="container mt-4 text-center ">
        <h2>Portafolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo molestiae dolore tempora sapiente vel. Praesentium sunt harum saepe hic, nobis, laborum minima quidem dolorum porro qui labore dolorem obcaecati et.</p>
        <div class="row galery">

          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/500"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/501"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/502"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/503"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/504"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/505"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/506"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/507"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/508"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/509"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/510"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 p-2">
            <img
            src="https://picsum.photos/1000/511"
            class="w-100 h-100 rounded object-fit-cover shadow"
            alt="Random image to display"
            />
          </div>
          
          
          


        </div>
      </div>
    </main>


    <footer class="text-center text-lg-start text-dark mt-4 bg-tertiary" style="background-color: #ECEFF1">
     <div id="footerContainer"></div>
    </footer>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
