<nav class="navbar bg-secondary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-sm ">
    <a class="navbar-brand fs-2 txt-shadow" href="#">Adrian website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
      <ul class="navbar-nav fs-5">
        <li class="nav-item px-3 txt-shadow">
          <a id="nav-index" class="nav-link active" aria-current="page" href="../index.html">Home</a>
        </li>
        <li class="nav-item px-3 txt-shadow ">
          <a id="nav-galeria" class="nav-link" href="/views/galeria.html">Galeria</a>
        </li>
        <li class="nav-item px-3 txt-shadow">
          <a id="nav-contacto" class="nav-link" href="/views/contacto.html">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>